
/* * {
    box-sizing: border-box;
    width: 80%;
} */

main {
    padding: 32px;
}

.background {
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 100%;
    /* you take out the picture from the actual document flow, the component is displayed above all components */
    position: fixed;
    /* 'z-index can only be applied to componentas that have 'position' */
    z-index: -1;
}


.section-plans{
    border: 6px solid #0e4f1f;
    margin: 16px 0;
    width: 80%;
    padding: 0 30px;
    /* the 'relative' position doesn't take the element from our document flow */
    position: relative;
    z-index: 0;

}

.section-plans:hover,
.section-plans:active{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: firebrick;
}

.clearfix{
    clear: both;
}

.section-plans#plan_plus{
    background: rgba(213, 255, 220, 0.95);
}

.section-plans#plan_free{
    background: rgba(234, 252, 237, 0.95);
    float: right;

}

.section-plans#plan_premium{
    background: rgba(14, 79, 31, 0.95);
}

.section-plan__anchor{
    text-decoration: none;
    color: black;
    display: block;
    padding: 32px;
    
}

.section-plan__anchor h1{
    font-weight: bold;
    font-size: 24px;
}


.section-plan__anchor h2{
    color: #555555;
    font-weight: bold;
    font-size: 20px;
}

.section-plan__badge#recommended {
    /* this deppends on the position property applied in some ancestor,or will attach to HTML */
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 8px;
    z-index: 10;

}





.section-plan__anchor p{
    border: 1px solid #0e4f1f;
    color: #0e4f1f;
    padding: 0 20px;
    text-align: left;
    background: white;
    font-size: 18px;
}


.section-plans#plan_premium h1{
    color: white;
}

.section-plans#plan_premium h2{
    color: #bbb;
}